In [143]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.metrics import classification_report

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [92]:
#train_df.head()
train_df.head()
#train_df.columns

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,loan_status_low_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,...,1,1,0,1,1,0,1,0,1,0
1,141451,141451,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,...,1,1,0,1,1,0,1,0,1,0
2,321143,321143,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,...,1,1,0,1,1,0,1,0,1,0
3,11778,11778,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,...,1,1,0,1,1,0,1,0,1,0
4,169382,169382,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,...,1,1,0,1,1,0,1,0,1,0

In [93]:
# Convert categorical data to numeric and separate target feature for training data

train_cols = train_df.columns
i=0
for col in train_cols:
    print (col)
    i=i+1
print("total cols:", i)

Unnamed: 0
index
loan_amnt
int_rate
installment
annual_inc
dti
delinq_2yrs
inq_last_6mths
open_acc
pub_rec
revol_bal
total_acc
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_amnt
collections_12_mths_ex_med
policy_code
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_inq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
home_ownership_ANY
home_ownership_MORTGAGE
home_ownership_OWN
home_ownership_RENT
verification_status_Not Verified
verification_status_Source Verified
verification_status_Verified
loan_status_high_risk
loan_status_low_risk
pymnt_plan_n
initial_list_status_f
initial_list_status_w
application_type_Individual
application_type_Joint App
hardship_flag_N
hardship_flag_Y
debt_settlement_flag_N
debt_settlement_flag_Y
total cols: 96

In [69]:
# Convert categorical data to numeric and separate target feature for testing data
test_df=pd.get_dummies(test_df)
test_cols= test_df.columns
for col in train_cols:
    print (col)
    i=i+1
print("total cols:", i)

Unnamed: 0
index
loan_amnt
int_rate
installment
annual_inc
dti
delinq_2yrs
inq_last_6mths
open_acc
pub_rec
revol_bal
total_acc
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_amnt
collections_12_mths_ex_med
policy_code
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_inq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
home_ownership_ANY
home_ownership_MORTGAGE
home_ownership_OWN
home_ownership_RENT
verification_status_Not Verified
verification_status_Source Verified
verification_status_Verified
loan_status_high_risk
loan_status_low_risk
pymnt_plan_n
initial_list_status_f
initial_list_status_w
application_type_Individual
application_type_Joint App
hardship_flag_N
hardship_flag_Y
debt_settlement_flag_N
debt_settlement_flag_Y
total cols: 192

In [96]:
train_df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,loan_status_low_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,...,1,1,0,1,1,0,1,0,1,0
1,141451,141451,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,...,1,1,0,1,1,0,1,0,1,0
2,321143,321143,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,...,1,1,0,1,1,0,1,0,1,0
3,11778,11778,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,...,1,1,0,1,1,0,1,0,1,0
4,169382,169382,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,...,1,1,0,1,1,0,1,0,1,0

In [97]:
test_df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,loan_status_high_risk,loan_status_low_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N
0,67991,67991,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,...,0,1,1,0,1,1,0,1,0,1
1,25429,25429,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,...,0,1,1,0,1,1,0,1,0,1
2,38496,38496,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,...,0,1,1,0,1,1,0,1,0,1
3,19667,19667,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,...,0,1,1,0,1,1,0,1,0,1
4,37505,37505,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,...,0,1,1,0,1,1,0,1,0,1

In [98]:
y_train= train_df['loan_status_low_risk']
X_train= train_df.drop(['loan_status_low_risk'],axis=1)
y_test= test_df['loan_status_low_risk']
X_test= test_df.drop(['loan_status_low_risk'], axis=1)

In [108]:
for testcol in X_test.columns:

    for traincol in X_train.columns:
            if traincol not in X_test.columns:
                print(traincol)

debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y
debt_settlement_flag_Y

In [75]:
test_df.astype('int')
train_df.astype('int')

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,loan_status_low_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375,0,483,223000,29,0,0,15,...,1,1,0,1,1,0,1,0,1,0
1,141451,141451,21000,0,478,123000,11,2,0,16,...,1,1,0,1,1,0,1,0,1,0
2,321143,321143,20000,0,448,197000,11,0,0,12,...,1,1,0,1,1,0,1,0,1,0
3,11778,11778,3000,0,100,45000,18,0,0,12,...,1,1,0,1,1,0,1,0,1,0
4,169382,169382,30000,0,1056,133000,27,0,2,13,...,1,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,354912,354912,19975,0,801,28000,28,0,0,15,...,0,1,0,1,1,0,1,0,1,0
12176,354944,354944,15000,0,540,50000,23,4,0,16,...,0,1,0,1,1,0,1,0,1,0
12177,354973,354973,3600,0,131,60000,28,0,1,14,...,0,1,0,1,1,0,1,0,1,0
12178,355002,355002,15000,0,475,62000,11,0,0,5,...,0,1,0,1,0,1,1,0,1,0
12179,355307,355307,15000,0,540,54080,21,1,1,5,...,0,1,1,0,1,0,1,0,1,0

In [109]:
X_test["debt_settlement_flag_Y"]=0

In [111]:
X_train.shape

(12180, 95)

In [119]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg
logreg.fit(X_train, y_train)

C:\Users\nk162803\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [120]:
print(f"Training Data Score: {logreg.score(X_train, y_train)}")
print(f"Testing Data Score: {logreg.score(X_test,y_test)}")

Training Data Score: 0.6525451559934319
Testing Data Score: 0.519140791152701

In [140]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
ranfor = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)
print(f'Training Score: {ranfor.score(X_train, y_train)}')
print(f'Testing Score: {ranfor.score(X_test, y_test)}')

Training Score: 1.0
Testing Score: 1.0

# Conclusion: What we can see that the random forest model fits better in comparison with the logistic regression model

In [129]:
# Scale the data
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled.shape
#X_test_scaled.shape

(12180, 95)

In [138]:
# Train the Logistic Regression model on the scaled data and print the model score
logreg_scaled = LogisticRegression()
# classifier
logreg_scaled.fit(X_train_scaled, y_train)
y_pred = logreg_scaled.predict(X_test_scaled)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2351
           1       1.00      1.00      1.00      2351

    accuracy                           1.00      4702
   macro avg       1.00      1.00      1.00      4702
weighted avg       1.00      1.00      1.00      4702

In [142]:
# Train a Random Forest Classifier model on the scaled data and print the model score
ranfor_scaled = RandomForestClassifier(random_state=1).fit(X_train_scaled, y_train)
ranfor_scaled.fit(X_train_scaled, y_train)
y_pred = ranfor_scaled.predict(X_test_scaled)
print(classification_report(y_test, y_pred))
print(f"Training Data Score: {ranfor_scaled.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {ranfor_scaled.score(X_test_scaled, y_test)}")

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2351
           1       1.00      1.00      1.00      2351

    accuracy                           1.00      4702
   macro avg       1.00      1.00      1.00      4702
weighted avg       1.00      1.00      1.00      4702

Training Data Score: 1.0
Testing Data Score: 1.0

# Conclusion: After scaling  random forest model as well as logistic regression model fit well